[submodule ".vim/pack/foo/start/vim-surround"]
	path = .vim/pack/foo/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/foo/start/vim-jsx-pretty"]
	path = .vim/pack/foo/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/foo/start/vim-javascript"]
	path = .vim/pack/foo/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
